nav{
    display: flex;
    justify-content:space-around ;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    
}

nav a{
    text-decoration:none;
    color: black;
    font-family: "BBH Sans Bogle", sans-serif;
    font-size: 25px;
}

body{
    height: 100vh;
    margin: 0;
}

#outlet{
    color: red;
}


nav div{
    display: flex;
    gap:20px
    
}

nav img{
    height: 40px;
}

.icones{
    font-size: 20px;
}

.banner{
    background-image: url(IMAGENS/Banner\ de\ site\ para\ loja\ de\ liquida\ inverno\ com\ desconto.png);
    background-size: cover;
    background-position: center;
    height: calc( 100% - 70px);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div{
    display: flex;
    justify-content: center;
}